.chart-container {
  height: 300px
}

@media screen and (max-width: 1279px) {
  .chart-container {
    height: 200px
  }
}

.popover {
  position: absolute;
  z-index: 100;
  right: 33px;
}

md-content.deck-content-container .md-fab.visible {
  transform: scale(1);
  transition: transform 0.3s linear;
}

md-content.deck-content-container .md-fab {
  transform: scale(0);
  transition: transform 0.3s linear;
}

md-content.deck-content-container {
  background-color: transparent !important;
}

#comment_button {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}
